@font-face {
    font-family : 'sspl';
    src         : url('fonts/ssp/SourceSansPro-Light.otf') format('OpenType');
}

@font-face {
    font-family : 'ssp';
    src         : url('fonts/ssp/SourceSansPro.otf') format('OpenType');
}

@font-face {
    font-family : 'colab';
    src         : url('fonts/colab/ColabMed.otf') format('OpenType');
}

@font-face {
    font-family : 'roboto';
    src         : url('fonts/roboto/Roboto-Light.ttf') format('TrueType');
}

@font-face {
    font-family : 'anonpro';
    src         : url('fonts/anonpro/Anonymous_Pro.ttf') format('TrueType');
}

html, body {
   
}

body {
    background-color: #ffffff;
    font-style      : normal;
    text-align      : left;
    height          : auto;
}

#container {

    /* Position */
    position            : absolute;
    width               : 1000px;
    height              : auto;
    top                 : 0px;
    left                : 50%;
    margin-left         : -500px;

    /* border */
    border-top          : 1px solid #bebebe; 
    border-left         : 1px solid #bebebe; 
    border-right        : 1px solid #bebebe; 
    border-bottom       : 1px solid #bebebe; 
    box-shadow          : 0px 0px 8px 0px #bebebe;
    -webkit-box-shadow  : 0px 0px 4px 0px #bebebe;

    background-color: #f5f5f5;
}

#menu {
    font-family     : sspl, 'Arial Black', Gadget, Sans-serif;
    margin-top      : 50px;
    margin-left     : 50px;
    margin-right     : 50px;
    font-size       : 24px;
    text-align      : center;
    border-bottom   : 1px solid #bebebe;
    margin-left     : 50px;
}

#menu ul {
    padding : 0px;
    margin  : 0px;
}

#menu li {
    position        : relative;
    display         : inline-block;
    margin-top      : 10px;
    margin-bottom   : 10px;
    margin-left     : 43px;
    margin-right    : 43px;
    width           : auto;
}



a {
    text-decoration : none;
    color           : #666666;
}

a:hover {
    color: #df7401;
}

#contentHolder {
    font-family     : sspl, 'Arial Black', Gadget, Sans-serif;
    background-color: #f5f5f5;
    position        : relative;
    color           : #000000;
    font-size       : 16px;
    margin          : 50px;
    padding-bottom  : 50px;
    height : 550px;
} 


#footer {
    border : 1px solid red;
    /* use position:fixed to stick it to the bottom */
    font-family     : sspl, 'Arial Black', Gadget, Sans-serif;
    margin-left : 50px; 
    margin-right : 50px; 
    margin-bottom : 100px;
}

