@font-face {
    font-family : 'sspl';
    src         : url('fonts/ssp/SourceSansPro-Light.otf') format('OpenType');
}

@font-face {
    font-family : 'ssp';
    src         : url('fonts/ssp/SourceSansPro.otf') format('OpenType');
}

@font-face {
    font-family : 'colab';
    src         : url('fonts/colab/ColabMed.otf') format('OpenType');
}

@font-face {
    font-family : 'roboto';
    src         : url('fonts/roboto/Roboto-Light.ttf') format('TrueType');
}

@font-face {
    font-family : 'anonpro';
    src         : url('fonts/anonpro/Anonymous_Pro.ttf') format('TrueType');
}

@font-face {
    font-family : 'ubuntulight';
    src         : url('fonts/ubuntu/Ubuntu-L.ttf') format('TrueType');
}

body {
    font-style      : normal;
    text-align      : left;
    height          : auto;
}

#container {
    font-family     : ubuntulight, 'Arial Black', Gadget, Sans-serif;
    position            : absolute;
    width               : 1000px;
    height              : 1125px;
    top                 : 0px;
    left                : 50%;
    margin-left         : -500px;
}

#header {
	position: relative;
	border-bottom 	: 1px solid #bebebe;
    width : 900px;
	left : 50px;	
	height : 125px;
}

#logo {
	height 		: 150px;
    text-align	: left;
	opacity		: 1;
	position	: relative;
}

#logo img {
	position: relative;
	left	: 0px;
	height : 100px;
	width : auto; 
	top : 12px;
	opacity: 0.7;
}

#menu {
    position		: absolute;
    width           : 900px;
    font-size       : 16px;
    text-align      : right;
	top				: 50px;
}


#menu ul {
    padding         : 0px;
    margin-bottom   : 0px;
    margin-top      : 0px;
    margin-left     : 0px;
	margin-right 	: 50px;
}

#menu li {
    position        : relative;
    display         : inline-block;
    margin-right    : 0px;
    width           : 110px;
}

#menu li img {
	height : 40px;
	width : auto; 
	opacity : 0.5;
}

#menu li img:hover {
	opacity : 1;
}

#menu li img.focus { 
	opacity : 1;
}

a:hover {
    color: #df7401;
}


a {
    text-decoration : none;
    color : #666666;
}

#contentHolder {
    position		: relative;
    font-size		: 14px;
	height			: 400px;
	margin-top		: 100px;
	margin-bottom	: 100px;
	margin-left		: 50px;
	margin-right	: 50px;
} 


#footer {
	position: absolute;
    width : 900px;
	left : 50px;	
	height : 100px;
    bottom : 0px;
	border-top 	: 1px solid #bebebe;
}

#copyright {
	position: relative;
	top: 50px;
	left: 50px;
}

