#contentHolder {
	margin-top: 100px;
}

#upper {
	position: relative;
	height: 425px;
	width: 900px;
}

#lower {
	position: relative;
	padding-top : 50px;
    border-top : 1px solid #bebebe;
	height: 500px;
	width: 900px;
}

#text {
	margin-left: 50px;
	width 	: 400px;
	height 	: 315px;
	padding	: 25px;
	border 	: 1px solid white;
	background-color: #d7e0ff;
	border-radius: 10px;
	float: left;	
}
#image {
	position: relative;
	float: right;
	margin-right : 50px;
}

#image > img {
	width : 300px;
}

#exhib {
	margin-left: 50px;
	width : 400px;
	height: 250px;
	padding		: 25px;
	border : 1px solid white;
	border-radius: 10px;
	background-color: #d7e0ff;
    position : relative;
	float: left;
}

#exhib li {
    list-style-type : none;
    padding         : 10px;
    margin-left     : -50px;
}

#contactinfo {
	margin-right: 50px;
	float: right;
	width : 200px;
	height: 250px;
	padding		: 25px;
	border : 1px solid white;
	border-radius: 10px;
	background-color: #d7e0ff;
    position : relative;
}

