
#container {
	height: 1300px;
}

#contentHolder {
	margin-top: 100px;
}

#upper {
	border-bottom: 1px solid #bebebe;
	position: relative;
	width: 900px;
	padding-bottom: 50px;
}

#lower {
	top: 50px;
	position: relative;
	width: 900px;
}

#text {
	margin-left: 50px;
	width 	: 400px;
	padding	: 25px;
	border 	: 1px solid white;
	background-color: #d7e0ff;
	border-radius: 10px;
	float: left;	
}
#image {
	position: relative;
	float: right;
	margin-right : 50px;
}

#image > img {
	width : 300px;
}

#exhib {
	margin-left: 50px;
	width : 400px;
	padding		: 25px;
	border : 1px solid white;
	border-radius: 10px;
	background-color: #d7e0ff;
    position : relative;
	float: left;
}

#exhib p {
    padding         : 10px;
    margin-left     : 0px;
}

#contactinfo {
	text-align: center;
	margin-right: 50px;
	float: right;
	width : 250px;
	padding	: 25px;
	border : 1px solid white;
	border-radius: 10px;
	background-color: #d7e0ff;
    position : relative;
}

