#crossfade {
	position: relative;
}

#crossfade a {
	width: 600px;
	margin-left: 150px;
	display: inline-block;
	position: absolute;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-transition: opacity 0.5s ease-in-out;
	opacity : 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#crossfade img {
	display: inline-block;
	width: 600px;
	height: auto;
}

#crossfade a.opaque {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1);
}

#contentHolder {
	border-radius: 10px;
}

#exhibitions {
    position : absolute;
	width: 125px;
}

#exhlist {
    list-style-type : none;
    width 			: inherit;
    padding-left 	: 0;
    margin			: 0;
}

#exhlist  li {
	border: 1px solid white;
	border-radius: 10px;
	text-align 	: center;
	padding: 10px;
	font-size: 18px;
    color : #666666;
}

#exhlist li:hover {
	background-color: #d7e0ff;
    color   : #800000;
}

#exhlist li.focused {
	background-color: #d7e0ff;
    color   : #800000;
}

#arrowHolder {  
	margin-left		: 150px;
	margin-bottom	: 10px;
    width           : 600px;
    position        : relative;
	color: #666666;
}

#arrowHolder:hover {  
	border-color: #800000;
	color: #800000;
}

#description {
	/*border: 1px solid #bebebe;*/
    font-style: italic;
	border-radius: 10px;
	margin-left : 150px;
	position	: relative;
	text-align 	: center;
	width		: 600px;
}

#description > p {
	margin: 25px;
}

.octicon-chevron-right {
	position: absolute;
	left: 590px;
}
.mega-octicon {
    position : absolute;
	opacity : 0.2;
    top : -5px;
}

.clickable {
	cursor:pointer;
}

.mega-octicon:hover {
    opacity : 1;
    color   : #800000;
}

#whichimage {
    position : relative;
	left: 270px;
}


