img {
	padding-top: 25px;
	padding-left: 25px;
	width: 200px;
	height: auto;
}

img:hover {
	cursor: pointer;
}

#images {
	padding-top: 25px;
    position : relative;
	left: 50px;
}

#container {
	border: 1px solid red;
}

