#contentHolder {
    height : 500px;
}

#text {
    width : 350px;
}

#image {
    height : auto;
    position : absolute;
    right : 0px;
    top : 0px;
}

#description {
    height : auto;
    position : absolute;
    right : 450px;
    margin-top : -30px;
    padding : 5px;
    font-style: italic;
}
