#contentHolder {
    height : 600px;
}

#text {
    width : 300px;
	border : 1px solid white;
	border-radius: 10px;
	background-color: #d7e0ff;
	padding		: 25px;
	float		:left;
}

#image {
	float	:right;
	width : 500px;
    height : auto;
    right : 0px;
    top : 0px;
}

#description {
    height : auto;
    position : absolute;
    left : 850px;
	top: 420px;
    font-style: italic;
}

