#contentHolder {
    padding-top : 50px;
    height : 500px;
}

#text {
    width : 300px;
	border : 1px solid white;
	border-radius: 10px;
	background-color: #f0f0f0;
	padding: 25px;
}

#image {
    height : auto;
    position : absolute;
    right : 0px;
    top : 50px;
}

#description {
    height : auto;
    position : absolute;
    right : 450px;
    margin-top : -30px;
    padding : 5px;
    font-style: italic;
}

