.image {
    cursor : pointer;
    position : relative;
    overflow: hidden;
}


.description {
    margin-left : 50px;
    position : absolute;
}

.mega-octicon {
    opacity : 0.2;
}

.mega-octicon:hover {
    opacity : 1;
    cursor : pointer;
}

.contentHolder {
    position : relative;
    overflow: hidden;
}



